@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-inter);
    --font-mono: var(--font-roboto-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #1f1f22;
        --foreground: #d9dbe3;
    }
}

html, body {
    height: 100vh;
    width: 100%;
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}

@utility btn {
    @apply inline-flex items-center justify-center rounded-2xl
    font-medium transition duration-200 cursor-pointer
    focus:outline-none focus-visible:ring-2 focus-visible:ring-offset-2
    disabled:opacity-50 disabled:cursor-not-allowed;
}

@utility btn-sm {
    @apply px-2 py-1 text-sm;
}
@utility btn-md {
    @apply px-4 py-2 text-base;
}
@utility btn-lg {
    @apply px-6 py-3 text-lg;
}

@layer components {
    .btn-primary {
        @apply btn btn-md bg-sky-800 text-white hover:bg-sky-900 active:scale-95;
    }

    .btn-secondary {
        @apply btn btn-md bg-slate-700 text-slate-100 hover:bg-slate-800;
    }

    .btn-ghost {
        @apply btn btn-md bg-transparent hover:bg-slate-700/20;
    }
}

.inline-code p code {
    @apply rounded bg-slate-800/40 px-1.5 py-[1px] font-mono text-[0.95em];
}